<ion-header translucent="true">
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-left">
      <img src="assets/icon/logo.png" alt="TurisMatch" class="logo" />
      <div class="site-title">TURIS MATCH</div>
    </div>

    <div class="toolbar-right">
      <ion-button fill="clear" class="account-button" routerLink="/login" >
        <ion-icon name="person-outline" class="account-icon"></ion-icon>
        <ion-label class="account-label">Mi cuenta</ion-label>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-content">
  <div class="register-box">
    <h1>Registro</h1>

    <ion-list class="form-list" lines="none">
      <ion-item class="input-item" lines="none">
        <div class="input-field">
          <ion-input placeholder="Nombre" [(ngModel)]="nombre" type="text"></ion-input>
        </div>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <div class="input-field">
          <ion-input placeholder="Apellido" [(ngModel)]="apellido" type="text"></ion-input>
        </div>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <div class="input-field">
          <ion-input placeholder="Teléfono" [(ngModel)]="telefono" type="tel"></ion-input>
        </div>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <div class="input-field">
          <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
        </div>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <div class="input-field">
          <ion-input placeholder="Contraseña" [(ngModel)]="password" type="password"></ion-input>
        </div>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <div class="input-field">
          <ion-input placeholder="Repita Contraseña" [(ngModel)]="confirmPassword" type="password"></ion-input>
        </div>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="btn-crear" (click)="onRegister()">Crear Cuenta</ion-button>
  </div>
</ion-content>
