<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/inicio"></ion-back-button>
        </ion-buttons>

        <ion-title>Mapa de Resultados</ion-title>

        <ion-buttons slot="end">
<ion-button (click)="activarGPS()" fill="clear">
<ion-icon name="location" slot="icon-only"></ion-icon>
</ion-button>
            <ion-button (click)="centrarMapa()">
                <ion-icon name="locate-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="cargando" class="loading-container">
        <ion-spinner></ion-spinner>
        <p>Buscando puntos en el mapa...</p>
    </div>


    <div class="mapa-container">
        <div #mapContainer style="height: 100%; width: 100%"></div>
    </div>


    <ion-footer *ngIf="puntos.length > 0 && !cargando">
        <ion-toolbar>
            <ion-title size="small">
                {{ getResumenBusqueda() }}
            </ion-title>
        </ion-toolbar>
    </ion-footer>
</ion-content>