<ion-header>
    <ion-toolbar>
        <div class="imagen" style="width: 50%; padding-left: 20px;">
            <ion-img src="/turismo/src/app/imagenes/TurisMatch-logo.png" alt="TurisMatch-logo">
            </ion-img>
        </div>
        <div class="derecha" slot="end">
            <div class="icon">
                <ion-icon name="person-outline" size="large"></ion-icon>
            </div>
            <div class="texto">
                <p>Mi cuenta</p>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header>
        <div class="title-content">
            <ion-title>
                Ajustes
            </ion-title>
        </div>
    </ion-header>
    <div class="botones-content">

        <ion-button fill="outline" size="large" color="success">
            boton1
        </ion-button>
        <ion-button fill="outline" color="success" >
            boton2
        </ion-button>
        <ion-button fill="outline" color="success">
            boton3
        </ion-button>
        <ion-button fill="outline"  color="light">
            boton4
        </ion-button>
    </div>
</ion-content>