.derecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}
.icon{
    padding-right: 10px;
    width: 50px;
}
.title-content{
    padding: 20px; 
}
.botones-content{
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-button{
    padding: 10px; 

}