ion-content {

    // Degrade del fondo de LOGIN
    --background: linear-gradient(180deg, #74e76d 0%, #15c9ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 20px;
    
    
}

ion-title {
    
}

ion-toolbar {
    --background: white;
    color:black;
}

.derecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

.icon {
    padding-right: 10px;
    width: 50px;
}

.title-content {
    padding-left: 20px;
    padding-top: 10px;
    color: black; 
}

.botones-content {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-button {
    margin-top: 8%;
    width: 80%;
    color: black;
}

ion-icon {
    padding-right: 10px;
}