<ion-content class="login-page">
  <!-- Fondo -->
  <div class="background-overlay"></div>

  <header class="tm-header">
    <div class="tm-logo-wrap" role="img" aria-label="Logotipo TurisMatch">
      <img src="assets/icon/logo.png" alt="Logo TurisMatch" class="app-logo" />
    </div>

    <div class="tm-title-wrap">
      <div class="tm-title">Turis <span class="tm-match">Match</span></div>
      <div class="tm-tagline">Destinos a tu medida</div>
    </div>
  </header>

  <div class="content-container">

    <div class="bienvenido-text">Bienvenido</div>

    <div class="input-group">
      <ion-item class="input-field" lines="none">
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>

    <div class="forgot-password">
      ¿Olvidaste tu contraseña?
    </div>

    <div class="button-group">
      <ion-button expand="full" class="main-button login-button" (click)="iniciarSesion()">
        Iniciar sesión
      </ion-button>

      <ion-button expand="full" fill="solid" class="google-button">
        <img src="assets/icon/google.png" alt="Google" class="google-icon" />
        Continuar con Google
      </ion-button>

      

      <ion-button expand="full" class="main-button register-button" (click)="irARegistro()">
        Registrarse
      </ion-button>
    </div>

    
    <div class="gps-permission">
      <div class="gps-dot"></div>
      Permisos GPS
    </div>

  </div>
</ion-content>
